<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Persons</title>
</head>
<body>
    <div style="margin-top: 1%; margin-bottom: 1%;"  class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table table-success table-striped">
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Phone fix</th>
                        <th>Phone mobile</th>
                        <th>Address</th>
                        <th>Person role</th>

                    </tr>
                    <tr th:each="person : ${persons}">
                        <td th:text="${person.id}">id</td>
                        <td th:text="${person.firstName}">id</td>
                        <td th:text="${person.lastName}">id</td>
                        <td th:text="${person.email}">id</td>
                        <td th:text="${person.phoneFix}">id</td>
                        <td th:text="${person.phoneMobile}">id</td>
                        <td th:text="${person.address}">id</td>
                        <td th:text="${person.userRole}">id</td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>